.side-bar__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 8px;
    background-color: #f2f2f2;
    position: sticky;
    left: 0;
    top: 0;
}

.side-bar__btn {
    margin-bottom: 8px;
    color: #333333;
    font-size: 2rem;
    padding: 8px;
}

.side-bar__logo--list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img--github{
    width: 24px;
    height: 24px;
    transition: all 200ms ease-in-out
}

.logo__img--github:hover {
    transform: scale(1.2);
}