.qView__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.questions__container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.question__container {
    width: calc(25%);
    padding: 12px;
}

.questionsAll__header--container {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionsAll__title {
    margin-bottom: 8px;
}

.questionsAll__input {
    padding: 4px;
}

.question__details--container {
    border: 2px solid #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.filter__btn {
    padding: 4px 8px;
    margin: 4px;
}