.home__container {
    height: 100vh;
    display: flex;
    width: 100%;
}

.side-bar__btn {
    margin-bottom: 8px;
}

.displayQ__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}